<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="container flex-column">
        <div class="card flex-column" style="padding-bottom: 1em; padding-left: 1em; padding-right: 1em;">
            <h3>Welcome To My Social Media Website!</h1>

            <form action="#" method="post" id="form">
                <div class="flex-column">
                    <input type="email" class="input" id="email"
                    pattern=".+@globex\.com" size="25" placeholder="Email" required>
    
                    <input type="password" class="input" id="pass" name="password"
                    minlength="8" size="25" placeholder="Password" required>
    
                    <a type="submit" class="btn" href="#" id="login" style="width: 24ch; text-align: center;">Log In</a>
                </div>
            </form>

            <div class="flex-column">
                <h4 style=" margin-bottom: 0.5rem;">Not a user yet?</h4>
                <a class="btn" style="background: #42b72a; margin-top: 0;" href="#">Sign Up</a>
            </div>
        </div>
    </div>



    
</body>
</html>