    <title>Social Media | Log In or Sign Up</title>
    <link rel="stylesheet" href="./css/style.css">
    
<body>
    <div class="container flex-column-index">
        <div class="card flex-column-index" style="padding-bottom: 1em; padding-left: 1em; padding-right: 1em;">
            <h3>Welcome To My Social Media Website!</h3>

            <form action="/" method="post" id="form">
                <div class="flex-column-index" >
                    <input type="email" class="input" name="email" id="email"  placeholder="Email"
                    required>
    
                    <input type="password" class="input" id="password" name="password"
                    minlength="4" placeholder="Password" required>
            
                    <a class="btn" id="login" onclick="document.getElementById('form').submit();">
                        Log In
                    </a>

                </div>
            </form>  

            <div class="flex-column-index">
                <h4 style=" margin-bottom: 0.5rem;">Not a user yet?</h4>
                <a class="btn signup" id="signup" href="/signup">Sign Up</a>
            </div>  
        </div>
    </div>



    
</body>
</html>