<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media | Log In or Sign Up</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="container flex-column">
        <div class="card flex-column" style="padding-bottom: 1em; padding-left: 1em; padding-right: 1em;">
            <h3>Welcome To My Social Media Website!</h1>

            <form action="/" method="post" id="form">
                <div class="flex-column">
                    <input type="email" class="input" name="email" id="email" size="25" placeholder="Email"
                    required>
    
                    <input type="password" class="input" id="password" name="password"
                    minlength="3" size="25" placeholder="Password" required>
                    
                    <input class="btn" type="submit" value="Submit" style="width: 30ch; text-align: center;"> 
                    <!-- <a type="submit" class="btn" id="login" style="width: 24ch; text-align: center;">Log In</a>  -->
                </div>
            </form>  

            <div class="flex-column">
                <h4 style=" margin-bottom: 0.5rem;">Not a user yet?</h4>
                <a class="btn" style="background: #42b72a; margin-top: 0;" href="/signup">Sign Up</a>
            </div>
        </div>
    </div>



    
</body>
</html>