<title>Social Media | Sign Up</title>
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/signUp.css">


<div class="container flex-column-index">
  <div class="card flex-column-index signUpCard">

    <form id="form" action='/signup' method="post">

      <div class="flex-column-index">

        <input type="text" id="username" name="username" placeholder="Username"
         class="input" title="Username can contain any letters or numbers, without spaces"
          required>

        <input type="text" id="email" name="email" placeholder="Email"
         class="input" required style=" margin-bottom: 1rem;
         ">
        <input type="password" id="password" name="password" placeholder="Password"
         class="input" title="Password should be at least 4 characters"  style="
         margin-bottom: 1rem;" required>

        <a class="btn signup" id="signup" onclick="document.getElementById('form').submit();"
          >Register!</a>

      </div>
    
    </form>

  </div>
</div>