.card-container {
    width: 40%;
    margin: 0 auto;
}

@media (max-width: 35em) {
    .card-container {
        width: 100%;
        margin: 0 auto;    
    }    
}

.name {
    font-size: 1.1rem;
    font-weight: bold;
   /*  margin-top: 1.65rem;
    margin-left: 7px; */
    text-decoration: none;
    color: inherit;
}

.name:hover {
    text-decoration: underline;
}

#username-profile:hover {
    text-decoration: none !important;
}

/* .search {
    width: 80%;
}
 */


 #pic_upl {
     width: 2rem;
     aspect-ratio: 1;
 }

 #pic_upl_btn:hover {
    cursor: pointer;
 }

 #content {
     width: 40ch;
 }

 #card-header {
    padding-left: 1.4rem; padding-top: 1rem;
 }

.avatar {
    border-radius: 50%  ;
    object-fit: cover;
    width: 2.7rem;
    aspect-ratio: 1;
}

 .avatar:hover {
    opacity: 0.9;
 }

 .post-modal {
    position: fixed;
    z-index: 10;
    top: 10em;
    bottom: 10em;
    left: 32vw;
    right: 32vw;
    background: #ffffff; 

    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 0 0 70vw rgba(0, 0, 0, 0.2);

    overflow-y: scroll;

    padding: 0;
    margin: 0;
 }

 .modal {
     background: black;

     width: 100%;
     height: 60%;

     padding: 0;
     margin: 0;
 }

