.card-container {
    width: 40%;
    margin: 0 auto;
}

@media (max-width: 35em) {
    .card-container {
        width: 100%;
        margin: 0 auto;    
    }    
}

.name {
    font-size: 1.1rem;
    font-weight: bold;
   /*  margin-top: 1.65rem;
    margin-left: 7px; */
    text-decoration: none;
    color: inherit;
}

.name:hover {
    background-color: #f0f2f5;
}

/* .search {
    width: 80%;
}
 */


 #pic_upl_btn:hover {
    cursor: pointer;
 }