<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>

<body>
    <form id="postForm" enctype="multipart/form-data" action="/upload/" method="post">
        <input type="file" accept="image/*" name="NAME" id="imageFile">
        <input type="text" name="content" id="content" placeholder="Content"><br>
        <button type="submit">Post!</button>
    </form>

</body>

</html>